<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify User</title>
</head>
<body>
<div align="center">
    <h2>Modify User</h2>
    <form action="update" th:action="@{/update}" method="post" th:object="${userForMod}">
        <table border="1" cellpadding="5">
            <tr>
                <td>ID: </td>
                <td>
                    <input readonly="readonly" th:value="${userForMod.id}" th:field="*{id}"></input>
                </td>
            </tr>
            <tr>
                <td>First Name: </td>
                <td><input type="text" th:value="${userForMod.getFirstName()}"  th:field="*{firstName}" /></td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><input type="text" th:value="${userForMod.getLastName()}" th:field="*{lastName}" /></td>
            </tr>
            <tr>
                <td>E-Mail: </td>
                <td><input type="text" th:value="${userForMod.getEmail()}" th:field="*{email}" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="Cancel" onclick="window.history.back()">
                    &nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Save">
                </td>
            </tr>
        </table>
    </form>
    <br><br><a th:href="@{/logout}">Log out</a>
</div>

</body>
</html>